body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:sans-serif;

background:linear-gradient(
135deg,
#d7e3ff,
#e8d7ff,
#ffd7e5,
#d7fff2
);
}

.card{
background:rgba(255,255,255,0.6);
backdrop-filter:blur(20px);
padding:40px;
border-radius:28px;
width:460px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.subtitle{
color:#666;
margin-bottom:20px;
}

.gallery{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

.video{
cursor:pointer;
}

.video img{
width:100%;
border-radius:16px;
transition:.3s;
}

.video img:hover{
transform:scale(1.05);
}

.player{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.85);
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
}

.player iframe{
width:80%;
height:60%;
border:none;
border-radius:16px;
}

.hidden{
display:none;
}

.player span{
color:white;
font-size:32px;
cursor:pointer;
margin-bottom:20px;
}